<ng-container *ngIf="displayList; then showList else showSingleElement" >
</ng-container>

<ng-template #showList>
  <app-custom-paginator
    [enableNext]="planetsService.nextLinkChange | async"
    [enablePrevious]="planetsService.previousLinkChange | async"
    (clickPrevious)="planetsService.moveToPreviousPage()"
    (clickNext)="planetsService.moveToNextPage()"
  >
  </app-custom-paginator>
  <app-list-of-elements
    icon="public"
    (clickOnElement)="viewPlanetFromList($event)"
    [list]="planetsService.list | async">
  </app-list-of-elements>
</ng-template>

<ng-template #showSingleElement>
  <app-detail-view
    icon="public"
    backLink="/planets"
    [element]="planetsService.singleElement | async"
    [proprietiesToDisplay]="indexesToDisplay">
  </app-detail-view>
</ng-template>
