<mat-card [routerLink]="['/people']" appElevationOnHover class="cursor-pointer element-card">
  <img src="../../../../assets/crowd.png" alt="people icon">

  <p class="card-info">
    People
  </p>
</mat-card>

<mat-card [routerLink]="['/movies']" appElevationOnHover class="cursor-pointer element-card">
  <img src="../../../../assets/cinema.png" alt="movies icon">

  <p class="card-info">
    Movies
  </p>
</mat-card>

<mat-card [routerLink]="['/planets']"  appElevationOnHover class="cursor-pointer element-card">
  <img src="../../../../assets/planets.png" alt="planets icon">

  <p class="card-info">
    Planets
  </p>
</mat-card>
