<mat-card [routerLink]="['/people']" appElevationOnHover class="cursor-pointer element-card">
  <img alt="people icon" src="../../../../assets/crowd.png">

  <p class="card-info">
    People
  </p>
</mat-card>

<mat-card [routerLink]="['/movies']" appElevationOnHover class="cursor-pointer element-card">
  <img alt="movies icon" src="../../../../assets/cinema.png">

  <p class="card-info">
    Movies
  </p>
</mat-card>

<mat-card [routerLink]="['/planets']" appElevationOnHover class="cursor-pointer element-card">
  <img alt="planets icon" src="../../../../assets/planets.png">

  <p class="card-info">
    Planets
  </p>
</mat-card>
