<mat-drawer-container class="top-container">
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="menu-drawer-div">
      <p>Menu</p>
    </div>

    <mat-list class="cursor-pointer">
      <mat-list-item [routerLink]="['/home']" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/people']" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>people</mat-icon>
        <div mat-line>People</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/movies']" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>movie</mat-icon>
        <div mat-line>Movies</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/planets']" (click)="drawer.toggle()">
        <mat-icon mat-list-icon>public</mat-icon>
        <div mat-line>Planets</div>
      </mat-list-item>
    </mat-list>

    <div>
      <mat-icon class="cursor-pointer close-icon"
                (click)="drawer.toggle()">
        cancel
      </mat-icon>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon"
              (click)="drawer.toggle()"
              aria-label="Button to open side navigation bar">
        <mat-icon>menu</mat-icon>
      </button>
      <p>{{toolbarTitle}}</p>
    </mat-toolbar>
    <div class="route-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
